---
import { PAGECONTENT, CONTACTS } from "../data";
import { Icon } from "astro-icon";

interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;
---

<section id="contact" class="flex flex-col gap-4 items-center rounded-lg">
  <span
    class="bg-orange-100 border border-black px-2 rounded-xl text-sm font-semibold"
    >{PAGECONTENT[lang].contactSubtitle.toUpperCase()}</span
  >
  <h2 class="text-3xl text-center font-semibold mb-5">
    {PAGECONTENT[lang].contactTitle}
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      CONTACTS.map((contact) => (
        <li>
          <a
            class="bg-white hover:scale-105 transition-transform gap-3 border-black border border-b-8 flex flex-col w-72 h-40 justify-center items-center rounded-lg"
            href={contact.url}
            target="_blank"
          >
            <div
              class={`w-fit ${contact.color} p-2 rounded-full border border-black`}
            >
              <Icon class="h-6" name={`simple-icons:${contact.icon}`} />
            </div>
            <p>{contact.user}</p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
