---
import { PAGECONTENT, PROJECTS } from "../data";
import Project from "./Project.astro";
import SectionLayout from "./SectionLayout.astro";

interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;
---

<section class="py-10" id="projects">
  <SectionLayout>
    <h2 class="text-2xl font-semibold mb-5">
      {PAGECONTENT[lang].projectsTitle}
    </h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        PROJECTS.map((project) => (
          <Project
            title={project.title}
            image={project.image}
            description={project.description[lang]}
            codeUrl={project.codeUrl}
            demoUrl={project.demoUrl}
          />
        ))
      }
    </div>
  </SectionLayout>
</section>
