---
interface Props {
  title: string;
  demoUrl?: string;
  codeUrl: string;
  image: string;
  description: string;
}

const { title, image, codeUrl, demoUrl, description } = Astro.props;
---

<div class="flex flex-col">
  <img src={image} class="rounded-t-lg" />
  <div class="border rounded-b-lg px-4 py-6 flex flex-col gap-2 justify-between h-full">
    <div>
      <h2 class="text-2xl font-semibold">{title}</h2>
      <p>
        {description}
      </p>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <a
        class="bg-black text-white p-2 rounded-lg text-center"
        target="_blank"
        href={codeUrl}
      >
        Code
      </a>
      <button
        disabled={!demoUrl}
        class="border-2 border-black rounded-lg disabled:bg-gray-100 disabled:text-gray-300 disabled:border-gray-100"
      >
        <a target="_blank" href={demoUrl}>Demo</a>
      </button>
    </div>
  </div>
</div>
